---
title: About
description: Our team and mission
---
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
<section>
	<div class="container flex">
		<div class="text editable">
			<h2>Our Mission</h2>
			<p>SiteFund was founded to combat a <a href="https://www.statista.com/statistics/804008/ad-blocking-reach-usage-us/"> growing ad-block problem.</a>
				As more people use ad blockers, this means that website owners bring in less revenue and cannot fund their content.
				By 2020, <a href="https://www.forbes.com/sites/roberthof/2016/05/17/study-ad-blockers-will-slash-12-billion-in-annual-revenues-by-2020/#c614ae57160b"> $12 billion is projected to be lost to ad blockers. </a>
			</p>
			<p>
				At SiteFund, we believe that internet users will want to support those website owners given a convenient and inexpensive option.
				That's why we created an inexpensive subscription service backed by a network of websites promising ad-free content in exchange for the support of our subscribers.
			</p>
			<p>
				90% of our revenue goes directly to the websites in our network. 5% pays for transaction fees and 5% helps maintain and expand SiteFund.
			</p>
		</div>
	</div>
</section>
